.restart {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    width: 10em;
    height: 3em; 
    text-align: center;
    margin: 2px;
    background-color:#ff4516;
    color: #C6E3E3;
    border-radius:10px;
}